# ==============================================
# MTK Policy Rule
# ==============================================

# Date : WK16.33
# Purpose: Allow to access ged for gralloc_extra functions
allow drmserver proc_ged:file {open read write ioctl getattr};

# mtee support
allow drmserver mtee_device:chr_file { read write open ioctl };